In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [19]:
df_all = pd.read_excel("sleep75.xls")
df_all.head()

,age,black,case,clerical,construction,education,earnings,good_health,labor_force,leisure_1,...,spouse_work,total_work,union,work_main,work_scnd,expertise,young_kid,years_married,hour_wage,age_squared
0,32,0,1,0.0,0.0,12,0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.0,0.0,14,9500,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.0,0.0,17,42500,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.53,1936
3,30,0,4,0.0,0.0,12,42500,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.0,0.0,14,2500,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.75,4096

## Data Cleansing

In [48]:
type_mapping = {
    'age': np.int64,
    'black': np.int64,
    'case': np.int64,
    'clerical': np.int64,
    'construction': np.int64,
    'education': np.int64,
    'earnings': np.int64,
    'good_health': np.int64,
    'labor_force': np.int64,
    'leisure_1': np.int64,
    'leisure_2': np.int64,
    'leisure_3': np.int64,
    'smsa': np.int64,
    'lhrwage': np.float64,
    'othinc': np.float64,
    'male': np.int64,
    'married': np.int64,
    'protestant': np.int64,
    'relax_all': np.int64,
    'self_employed': np.int64,
    'sleep': np.int64,
    'sleep_naps': np.int64,
    'south': np.int64,
    'spouse_pay': np.int64,
    'spouse_work': np.int64,
    'total_work': np.int64,
    'union': np.int64,
    'work_main': np.int64,
    'work_scnd': np.int64,
    'expertise': np.int64,
    'young_kid': np.int64,
    'years_married': np.int64,
    'hour_wage': np.float64,
    'age_squared': np.int64
}

In [59]:
assert not set(type_mapping.keys()).difference(set(df_all.columns)), "Not all columns are handled"

In [63]:
def can_cast(value: object, type_: type) -> bool:
    try:
        type_(value)
        return True
    except Exception:
        return False

<bound method NDFrame.replace of      age  black  case  clerical  construction  education  earnings  \
0     32      0     1  0.000000      0.000000         12         0
1     31      0     2  0.000000      0.000000         14      9500
2     44      0     3  0.000000      0.000000         17     42500
3     30      0     4  0.000000      0.000000         12     42500
4     64      0     5  0.000000      0.000000         14      2500
..   ...    ...   ...       ...           ...        ...       ...
701   45      0   702  0.182331      0.030075         12      5500
702   34      0   703  0.182331      0.030075         10      2500
703   37      0   704  0.182331      0.030075         12      3500
704   54      0   705  0.182331      0.030075         17     32500
705   30      0   706  0.182331      0.030075         16      6750

     good_health  labor_force  leisure_1  ...  spouse_work  total_work  union  \
0              0            1       3529  ...            0        3438      0
1              1            1       2140  ...            0        5020      0
2              1            1       4595  ...            1        2815      0
3              1            1       3211  ...            1        3786      0
4              1            1       4052  ...            1        2580      0
..           ...          ...        ...  ...          ...         ...    ...
701            1            0       5069  ...            1        2026      0
702            0            0       5885  ...            0         675      1
703            1            0       4719  ...            1        1851      0
704            1            0       5149  ...            1        1961      1
705            1            0       4747  ...            0        2363      0

    work_main  work_scnd  expertise  young_kid  years_married  hour_wage  \
0        3438          0         14          0             13   7.070004
1        5020          0         11          0              0   1.429999
2        2815          0         21          0              0      20.53
3        3786          0         12          0             12   9.619998
4        2580          0         44          0             33       2.75
..        ...        ...        ...        ...            ...        ...
701      2026          0         27          0             18          .
702       465        210         18          0              4          .
703      1851          0         19          0             17          .
704      1481        480         31          0             22          .
705      2363          0          8          1              9          .

     age_squared
0           1024
1            961
2           1936
3            900
4           4096
..           ...
701         2025
702         1156
703         1369
704         2916
705          900

[706 rows x 34 columns]>

In [46]:
print(df_all.columns)

df_all.astype(type_mapping)

Index(['age', 'black', 'case', 'clerical', 'construction', 'education',
       'earnings', 'good_health', 'labor_force', 'leisure_1', 'leisure_2',
       'leisure_3', 'smsa', 'lhrwage', 'othinc', 'male', 'married',
       'protestant', 'relax_all', 'self_employed', 'sleep', 'sleep_naps',
       'south', 'spouse_pay', 'spouse_work', 'total_work', 'union',
       'work_main', 'work_scnd', 'expertise', 'young_kid', 'years_married',
       'hour_wage', 'age_squared'],
      dtype='object')

ValueError: could not convert string to float: '.': Error while type casting for column 'lhrwage'

In [22]:
df_all[["leisure_2", "leisure_3", "sleep_naps", "total_work", "sleep"]]

     leisure_2  leisure_3  sleep_naps  total_work  sleep
0         3479       3479        3163        3438   3113
1         2140       2140        2920        5020   2920
2         4505       4227        2760        2815   2670
3         3211       3211        3083        3786   3083
4         4007       4007        3493        2580   3448
..         ...        ...         ...         ...    ...
701       4669       4644        3385        2026   2985
702       5870       5870        3535         675   3520
703       4719       4584        3510        1851   3510
704       5119       5031        3000        1961   2970
705       4302       4302        3415        2363   2970

[706 rows x 5 columns]

In [39]:
columns = df_all.columns[:9].tolist() + df_all.columns[13:18].tolist() + [df_all.columns[21]] + df_all.columns[23:].tolist()
print(columns)
df = df_all[columns]

['age', 'black', 'case', 'clerical', 'construction', 'education', 'earnings', 'good_health', 'labor_force', 'lhrwage', 'othinc', 'male', 'married', 'protestant', 'sleep_naps', 'spouse_pay', 'spouse_work', 'total_work', 'union', 'work_main', 'work_scnd', 'expertise', 'young_kid', 'years_married', 'hour_wage', 'age_squared']

In [40]:
df

,age,black,case,clerical,construction,education,earnings,good_health,labor_force,lhrwage,...,spouse_work,total_work,union,work_main,work_scnd,expertise,young_kid,years_married,hour_wage,age_squared
0,32,0,1,0.000000,0.000000,12,0,0,1,1.955861,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500,1,1,0.357674,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500,1,1,3.021887,...,1,2815,0,2815,0,21,0,0,20.53,1936
3,30,0,4,0.000000,0.000000,12,42500,1,1,2.263844,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500,1,1,1.011601,...,1,2580,0,2580,0,44,0,33,2.75,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500,1,0,.,...,1,2026,0,2026,0,27,0,18,.,2025
702,34,0,703,0.182331,0.030075,10,2500,0,0,.,...,0,675,1,465,210,18,0,4,.,1156
703,37,0,704,0.182331,0.030075,12,3500,1,0,.,...,1,1851,0,1851,0,19,0,17,.,1369
704,54,0,705,0.182331,0.030075,17,32500,1,0,.,...,1,1961,1,1481,480,31,0,22,.,2916
705,30,0,706,0.182331,0.030075,16,6750,1,0,.,...,0,2363,0,2363,0,8,1,9,.,900